<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!-- TODO: gametitle page naming -->
<!-- TODO: gametitle page styling -->
<!-- TODO: Add hyperlinks -->

<header th:replace="fragments :: header"></header>


<table class="table table-striped">
  <tr>
    <th>ID</th>
    <td th:text="${gameTitle.id}"></td>
  </tr>
  <tr>
    <th>Description</th>
    <td th:text="${gameTitle.gameDescription.description}"></td>
  </tr>
  <tr>
    <th>Studio</th>
    <td><a th:href="'../studios/detail?studioId=' + ${gameTitle.studio.id}" th:text="${gameTitle.studio.name}"></a></td>
  </tr>
  <tr>
    <th>Genres</th>
    <td>
      <ul>
      <li th:each="genre : ${genres}"><a th:href="'/genres/detail?genreId='+${genre.id}" th:text="${genre.name}"></a></li>
      </ul>
    </td>
<!--    Button to delete the genre
        Need buttons on this page to remove the studio and genre from this title-->
    <td>
      <ul>
        <form class="buttons">
          <input type="submit" formaction=""
        </form>
      </ul>
    </td>
  </tr>
</table>
<a th:href="'/titles/add-genre?gameTitleId=' + ${gameTitle.id}">Add Genre</a>

</body>
</html>