<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!-- TODO: gametitle page naming -->
<!-- TODO: gametitle page styling -->
<!-- TODO: Add hyperlinks -->

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Studio</th>
    <th>Genres</th>
  </tr>
  </thead>
  <tr th:each="game:${gameTitles}">
    <td style="vertical-align:middle"><a th:href="'/titles/detail?gameTitleId=' + ${game.id}" th:text="${game.name}"></a></td>
    <td style="vertical-align:middle"><a th:href="'../studios/detail?studioId=' + ${game.studio.id}" th:text="${game.studio.name}"></a></td>
    <td style="vertical-align:middle">
      <p th:each="genre:${game.genreList}"><a th:href="'/genres/detail?genreId=' + ${genre.id}" th:text="${genre.name}"></a></p>
    </td>

<!--    <td th:text="${game.genreList}"></td>-->
    <!--add links^^^^ -->
  </tr>
</table>
<form class="buttons">
  <input type="submit" formaction="/titles/create" value="Add Title">
  <input type="submit" formaction="/titles/delete" value="Delete Title">
</form>

</body>
</html>