<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!-- TODO: gametitle page naming -->
<!-- TODO: gametitle page styling -->
<!-- TODO: Add hyperlinks -->

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Studio</th>
    <th>Genres</th>
  </tr>
  </thead>
  <tr th:each="game:${gameTitles}">
    <td><a th:href="'titles/detail?gameTitleId=' + ${game.id}" th:text="${game.name}"></a></td>
    <td th:text="${game.studio.name}"></td>
    <td th:text="${game.genreList}"></td>
    <!--add links^^^^ -->
  </tr>
</table>
<form>
  <input type="submit" formaction="/titles/create" value="Add Title">
</form>

</body>
</html>