<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!--TODO: Genre page naming -->
<!--TODO: Genre page styling -->
<!--TODO: Add hyperlinks -->

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Genres</th>
    </tr>
    </thead>
    <tr th:each="genre:${genres}">
        <td><a th:href="'/genres/detail?genreId=' + ${genre.id}" th:text="${genre.name}"></a></td>
<!--        add action to button, add script to reload page and using ajax call a controller
            to delete the genre from all gametitles, then to delete the genre itself.-->
        <td><button onclick="deleteGenre(/* genreId */)">Delete From All Titles</button></td>

    </tr>

</table>
<form>
    <input type="submit" formaction="/genres/create" value="Add Genre">
</form>
</body>
</html>