<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!-- TODO: Studio page naming -->
<!-- TODO: Studio page styling -->
<!-- TODO: Add hyperlinks -->

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Studios</th>
        <th>Year Established</th>
    </tr>
    </thead>
    <tr th:each="studio:${studios}">
        <td style="vertical-align:middle"><a th:href="'/studios/detail?studioId='+${studio.id}" th:text="${studio.name}"></a></td>
        <td style="vertical-align:middle" th:text="${studio.yearEstablished}"></td>
    </tr>

</table>
<form>
    <input type="submit" formaction="/studios/create" value="Add Studio">
    <input type="submit" formaction="/studios/delete" value="Delete Studio">
</form>
</body>
</html>